@import "variables";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #012;
    color: var(--color-text);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
    width: 100%;
    border: none;
    height: 2em;
}